/* 1 */
body {
    font-family: 'Cabin Sketch', sans-serif;
    background-image: url(images/BACKGROUND.jpeg);
}
#answer{
    display: flex;
    
}
.answer_place{
    width: 30%;
    height: 2rem;
    background-color: aliceblue;
    border: 1px solid black;
    margin-right:3%;
}

/* 2 */




/* 3 */




/* 4 */