/* Default styles for all screen sizes */
body {
    font-family: 'Cabin Sketch', sans-serif;
    background-image: url("images/BACKGROUND.jpeg");
    background-size: cover;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

section {
    width: 100vw;
    height: 100vh;
}

.first-1 {
    width: 100vw;
    height: 15vh;
}

.first-1 img {
    margin-left: 2rem;
    margin-top: 2rem;
}

.first-2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50% 50%;
    width: 100vw;
    height: 70vh;
    text-align: center;
}

.first-2 h1 {
    font-size: 10rem;
}

.first-2 img {
    width: 12rem;
    cursor: pointer;
}

.first-3 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100vw;
    height: 15vh;
}

.first-3 img {
    margin-right: 2rem;
}

/* Responsive styles using media queries */
@media only screen and (max-width: 768px) {
    /* Adjust styles for smaller screens */
    .first-2 h1 {
        font-size: 6rem;
    }

    .first-2 img {
        width: 8rem;
    }
}

/* New styles for categories */
.categories {
    width: 100vw;
    height: 60vh;
    text-align: center;
    position: relative;
    top: 0;
}

.category {
    position: relative;
}

.category img {
    width: 400px; /* Set the width to 100% for responsiveness */
    height: auto; /* Maintain aspect ratio */
    position: relative; /* Ensure relative positioning for absolute child */
}

.category h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -130%); /* Center text both vertically and horizontally */
    font-size: 60px; /* Set the font size for the h2 */
    color: black;/* Set the text color */
}

.categories h1 {
    font-size: 7rem;
    line-height: 70%;
}
