/* 1 */
body {
    font-family: 'Cabin Sketch', sans-serif;
    background-image: url("images/BACKGROUND.jpeg");
    background-size: cover;
 
}

.play {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.son {
    padding: 10px 30px;
}


/* 2 */




/* 3 */




/* 4 */